<div class="logo-bg">
    <a href="/">
        <img src="/images/mainlogo.png" class="top-logo" width="500" height="300">
    </a>
</div>

<div class="users">
    <nav>
        <h4 >Players</h4>
        <ul class="player-list">
        </ul>
    </nav>
</div>

  