<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/body'); %>
        <div class="text-center">
            <form method="POST" action="/createroom">
                <input type="submit" value="Create room">
            </form>
        </div>
    </body>
</html>