<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/body'); %>
        <h3 class="team" style="position:absolute; text-align: center;">Yellows turn</h3>
        <div class="board">
            
        </div>
    </body>
    <script src="clientgame.js"></script>
</html>